:root {
    --gui: rgb(169, 169, 169);
    --bg: rgb(86, 84, 121);
    --terminal-green: rgb(0, 204, 0);
    --whiteish: #F8F8F8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

nav {
    position: fixed;
    top: 0;
    display: block;
}

nav > a {
    display: block;
    width: 3em;
    height: 3em;
    padding: 5px;
    margin: 0;
    float: left;
}

.menu-icon {
    width: 100%;
}

/* anchors for the top nav */

#top {
    position: absolute;
    top: 0;
}

#port,
#abt {
    display: block;
    position: relative;
    top: -3.5em;
}

/* the welcome-section window needs extra margins for the nav 
   could i instead have it been padding? */
#welcome-section {
    width: 90%;
    margin: 3.5em auto 0 auto;
}

#welcome-section > .terminal {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


main {
    margin-bottom: 4em;
}

/* the gui class is for any element that has the "3D" 
   border and has the gui background color */
.gui {
    background: var(--gui);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
}

.window {
    display: block;
    background: black;
    margin: 1em auto;
    box-shadow: 0.5em 0.5em 0px #333;
    border: solid;
    border-width: 2px;
    width: 90%;
}

.titlebar {
    background: var(--gui);
    display: flex;
    width: 100%;
    height: 2em;
    /* Not sure if I like this */
    /*border-bottom: 1px solid;*/
}

.window-name {
    /* Only the window name will change in size */
    flex-grow: 1;
    text-align: center;
    font-family: Helvetica;
    font-size: 1em;
    padding: 0.33em 0;
}

.left-corner,
.right-corner {
    width: 2em;
}

.left-corner {
    background: url(images/rollup.svg);
    background-size: 100%;
}

.right-corner {
    background: url(images/close.svg);
    background-size: 100%;
}

.titlebar img {
    width: 100%;
}

.thumbnail {
    width: 100%;
    display: block;
}

.terminal {
    display: block;
    background: black;
    color: var(--terminal-green);
    padding: 10px 5px;
}

.terminal p,
.terminal a,
.terminal h1 {
    margin: 0.5em auto;
    font-family: "Ubuntu Mono", Monospace;
    line-height: 1.1;
    font-size: 1.5em;
    text-align: center;
}

.terminal h1 {
    font-family: "Press Start 2P", Monospace;
    font-size: 2em;
    line-height: 1.5;
}

/* can't figure out why anchors are larger than paragraph
   also why doesn't it take the correct color?*/
.terminal a {
    color: var(--terminal-green);
    font-size: 1em;
}

.website {
    background: var(--whiteish);
    display: block;
    font-family: Helvetica;
    padding: 1em;
}

.website > p {
    font-size: 1.5em;   
}


@media only screen and (min-width: 600px) {
    
    nav > a {
        width: 4em;
        height: 4em;
    }

    #welcome-section {
        margin-top: 5em;
    }

    .portfolio {
        display: grid;
        width: 90%;
        grid-template-columns: 48% 48%;
        grid-gap: 2em 4%;
        grid-auto-rows: 1fr;
        margin: 20px auto;
    }

    .portfolio > .window {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {

    main {
        width: 75%;
        position: absolute;
        right: 0;
    }

    /* nav and welcome-sectionbecome sidebar */
    #nav-and-welcome {
        display: flex;
        flex-flow: column;
        position: fixed;
        top: 0;
        height: 100%;
        width: 25%;
    }

    nav {
        position: static;
        flex-grow: 0;
    }

    #welcome-section {
        margin: 20px auto;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }

    #welcome-section > .terminal {
        flex-grow: 1;
    }
    
    main > * {
        width: 95%;
    }
}
