:root {
    --gui: rgb(169, 169, 169);
    --bg: rgb(86, 84, 121);
    --terminal-green: rgb(0, 204, 0);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

nav {
    position: fixed;
    top: 0;
    display: block;
}

nav > button {
    width: 3em;
    height: 3em;
    padding: 5px;
    margin: 0;
    float: left;
}

.menu-icon {
    width: 100%;
}

/* the welcome window needs extra margins for the nav */
#welcome {
    width: 95%;
    margin: 60px auto 20px auto;
}

/* add back styling for the flexbox for larger screens */

/* the gui class is for any element that has the "3D" 
   border and has the gui background color */
.gui {
    background: var(--gui);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
}

.window {
    display: block;
    margin: 20px auto;
    box-shadow: 8px 8px 0px #333;
    border: solid;
    border-width: 2px;

    /* This is the default for small screens */
    width: 95%;
}

.titlebar {
    background: var(--gui);
    display: flex;
    width: 100%;
    height: 25px;
    /* Not sure if I like this */
    /*border-bottom: 1px solid;*/
}

.title-element {
    padding: 2px 0;
}

/* Only the window name will change in size */

.window-name {
    flex-grow: 1;
    text-align: center;
    font-family: Helvetica;
}

.right-corner, .left-corner {
    width: 25px;
}

.right-corner {
    text-align: center;
    font-family: sans-serif;
}

.left-corner {
    padding: 4px;
}

.roll-up {
    height: 100%;
    width: 100%;
    border: solid;
    border-width: 3px 1px 1px 1px;
}

.thumbnail {
    /* only for small screens
   * for larger screens, thumbnails will have constant size*/
    width: 100%;
    display: block;
}

.terminal {
    display: block;
    background: black;
    color: var(--terminal-green);
    padding: 10px 5px;
}

.terminal > p,
.terminal > a {
    margin: 0 auto;
    font-family: "Ubuntu Mono", Monospace;
}

.terminal > p,
.terminal > a {
    margin: 0 auto;
    font-family: "Ubuntu Mono", Monospace;
    line-height: 1.1;
    font-size: 1.25em;
    text-align: center;
}

.terminal > h1 {
    margin: 0;
    font-family: "Press Start 2P", Monospace;
    font-size: 2em;
    text-align: center;
    line-height: 1.5;
}

.terminal > a {}

@media only screen and (min-width: 600px) {

    nav > button {
        width: 4em;
        height: 4em;
    }
    
    #welcome {
        margin-top: 5em;
    }
    
    .portfolio {
        display: grid;
        width: 95%;
        grid-template-columns: 48% 48%;
        grid-gap: 2em 4%;
        grid-auto-rows: 1fr;
        margin: 20px auto;
    }
    
    .portfolio > .window {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    
    body {

    }
    
    main {
        width: 70%;
        position: absolute;
        right: 0;
    }
    
    /* nav and welcome become sidebar */
    #nav-and-welcome {       
        display: flex;
        flex-flow: column;
        position: fixed;
        top: 0;
        height: 100%;
        width: 30%;
    }
    
    nav { 
        position: static;
        flex-grow: 0;
    }
    
    #welcome {
        margin: 20px auto;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }
    
    #welcome > .terminal {
        display: flex;
        flex-flow: column;
        justify-content: center;
        flex-grow: 1;
    }
    
    /* not the cleanest solution ever */
    .terminal > p {
        margin: 3em 0;
    }
    
    /* change grid to three columns */
    .portfolio {
    
    }
}
