/*CSS grid*/
.container {
	display: grid;
	grid-template-columns: 20% [main-start] auto [main-end] 20%;
	/*I want to make the title and the picture in the 40%*/
	grid-template-rows: [top] 40% [body-start] auto [body-end];
}

.item {
	grid-column-start: main-start;
	grid-column-end: main-end;
	grid-row-start: body-start;
	grid-row-start: body-end;
}

header.item {
	grid-column-start: main-start;
	grid-column-end: main-end;
	grid-row-start: top;
	grid-row-end: body-start;
	justify-self: center;
	text-align: center;
}



