:root {
	--dark: #404040;
	--light: #F9F9F9;
	--penguin: #F5BD0C;
}

body {
	background-color: var(--light);
	color: var(--dark);
}

header {
	justify-self: center;
	text-align: center;
}

h1, h3 {
	font-family: Titillium Web, sans-serif;
	background-color: var(--penguin);
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.5;
}

article {
	width: 65%;
	min-width: 600px;
	margin: 20px auto;
}

p {
	text-align: justify;
	font-family: serif;
	font-size: 1.25em;
}

a {
	color: var(--penguin);
}

