:root {
	--dark: #404040;
	--light: #F9F9F9;
	--penguin: #F5BD0C;
}

body {
	background-color: var(--light);
	color: var(--dark);
}

header {
	justify-self: center;
	text-align: center;
}

h1, h3 {
	font-family: Titillium Web, sans-serif;
	background-color: var(--penguin);
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

article {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
}

p {
	text-align: justify;
	font-family: serif;
	font-size: 1.25rem;
	width: 95%;
	margin: 0 auto;
}

a {
	color: var(--penguin);
}

img {
	width: 90%;
	height: auto;
}

@media only screen and (min-width: 700px) {
	img {
		width: auto;
	}
}
